<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,400;0,7..72,600;0,7..72,700;1,7..72,400;1,7..72,600;1,7..72,700&display=swap&family=Overpass+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/app.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32.png"
    />

    {{ $title := .Site.Title }} {{ $desc := .Site.Description }} {{ if
    .IsSingular }} {{ $title = .Post.Title }} {{ $desc = .Post.Description }} {{
    end }}

    <title>{{ $title }}</title>

    <meta name="description" content="{{ $desc }}" />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="{{ $title }}" />
    <meta itemprop="description" content="{{ $desc }}" />
    <meta itemprop="image" content="/img/og-image.webp" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ $title }}" />
    <meta property="og:description" content="{{ $desc }}" />
    <meta property="og:image" content="/img/og-image.webp" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ $title }}" />
    <meta name="twitter:description" content="{{ $desc }}" />
    <meta name="twitter:image" content="/img/og-image.webp" />
    {{template "extra_head" .}}
  </head>

  <body>
    <div class="_giraffe">
      <div class="site-header">
        <a href="/">> thien.dev</a>
        <div class="flex items-center">
          <nav class="site-header-nav">
            <a href="/posts">Posts</a>
            <a href="/resume.pdf">Resume</a>
          </nav>
          <label for="theme" class="theme-switch-button">
            <input type="checkbox" id="theme" />
            <span class="theme-switch-check">
              <span class="theme-switch-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  focusable="false"
                  viewBox="0 0 24 24"
                  class="theme-switch-appearance-sun"
                >
                  <path
                    d="M12,18c-3.3,0-6-2.7-6-6s2.7-6,6-6s6,2.7,6,6S15.3,18,12,18zM12,8c-2.2,0-4,1.8-4,4c0,2.2,1.8,4,4,4c2.2,0,4-1.8,4-4C16,9.8,14.2,8,12,8z"
                  ></path>
                  <path
                    d="M12,4c-0.6,0-1-0.4-1-1V1c0-0.6,0.4-1,1-1s1,0.4,1,1v2C13,3.6,12.6,4,12,4z"
                  ></path>
                  <path
                    d="M12,24c-0.6,0-1-0.4-1-1v-2c0-0.6,0.4-1,1-1s1,0.4,1,1v2C13,23.6,12.6,24,12,24z"
                  ></path>
                  <path
                    d="M5.6,6.6c-0.3,0-0.5-0.1-0.7-0.3L3.5,4.9c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l1.4,1.4c0.4,0.4,0.4,1,0,1.4C6.2,6.5,5.9,6.6,5.6,6.6z"
                  ></path>
                  <path
                    d="M19.8,20.8c-0.3,0-0.5-0.1-0.7-0.3l-1.4-1.4c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l1.4,1.4c0.4,0.4,0.4,1,0,1.4C20.3,20.7,20,20.8,19.8,20.8z"
                  ></path>
                  <path
                    d="M3,13H1c-0.6,0-1-0.4-1-1s0.4-1,1-1h2c0.6,0,1,0.4,1,1S3.6,13,3,13z"
                  ></path>
                  <path
                    d="M23,13h-2c-0.6,0-1-0.4-1-1s0.4-1,1-1h2c0.6,0,1,0.4,1,1S23.6,13,23,13z"
                  ></path>
                  <path
                    d="M4.2,20.8c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1.4-1.4c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1.4,1.4C4.7,20.7,4.5,20.8,4.2,20.8z"
                  ></path>
                  <path
                    d="M18.4,6.6c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1.4-1.4c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-1.4,1.4C18.9,6.5,18.6,6.6,18.4,6.6z"
                  ></path>
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  focusable="false"
                  viewBox="0 0 24 24"
                  class="theme-switch-appearance-moon"
                >
                  <path
                    d="M12.1,22c-0.3,0-0.6,0-0.9,0c-5.5-0.5-9.5-5.4-9-10.9c0.4-4.8,4.2-8.6,9-9c0.4,0,0.8,0.2,1,0.5c0.2,0.3,0.2,0.8-0.1,1.1c-2,2.7-1.4,6.4,1.3,8.4c2.1,1.6,5,1.6,7.1,0c0.3-0.2,0.7-0.3,1.1-0.1c0.3,0.2,0.5,0.6,0.5,1c-0.2,2.7-1.5,5.1-3.6,6.8C16.6,21.2,14.4,22,12.1,22zM9.3,4.4c-2.9,1-5,3.6-5.2,6.8c-0.4,4.4,2.8,8.3,7.2,8.7c2.1,0.2,4.2-0.4,5.8-1.8c1.1-0.9,1.9-2.1,2.4-3.4c-2.5,0.9-5.3,0.5-7.5-1.1C9.2,11.4,8.1,7.7,9.3,4.4z"
                  ></path>
                </svg>
              </span>
            </span>
          </label>
        </div>
      </div>

      {{template "content" .}}

      <footer class="site-footer">
        <nav class="container">
          <a href="/tags/index.html">🔖 tags</a>
          <a href="/rss.xml">📮 rss</a>
          <a href="/pages/about-me.html">💡 about</a>
          <a href="https://github.com/tatthien/giraffe" target="_blank"
            >🦒 giraffe</a
          >
        </nav>
      </footer>
    </div>

    {{template "extra_footer" .}}
    <script src="https://unpkg.com/quicklink@2.2.0/dist/quicklink.umd.js"></script>
    <script defer src="/_vercel/insights/script.js"></script>
    <script id="giraffe-global">
      var __GIRAFFE__ = {
        config: {{ .Site }}
      }
    </script>
    <script>
      // Quicklink
      quicklink.listen();

      // Theme
      const checkboxElm = document.getElementById("theme");

      const handler = {
        get(target, prop, receiver) {
          return Reflect.get(...arguments);
        },
        set(target, prop, value, receiver) {
          if (prop === "theme" && ["system", "light", "dark"].includes(value)) {
            localStorage.setItem("theme", value);
            checkboxElm.checked = value === "dark";
            document.documentElement.setAttribute("data-theme", value);
          }
          return Reflect.set(...arguments);
        },
      };

      const reactive = new Proxy(
        {
          theme: "system",
        },
        handler
      );

      reactive.theme = localStorage.getItem("theme") || "light";
      checkboxElm.checked = reactive.theme === "dark";

      checkboxElm.addEventListener("change", (event) => {
        const theme = event.target.checked ? "dark" : "light";
        reactive.theme = theme;
      });
    </script>
  </body>
</html>
