<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cousine&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32.png"
    />

    {{ $title := .Site.Title }} {{ $desc := .Site.Description }} {{ if
    .IsSingular }} {{ $title = .Post.Title }} {{ $desc = .Post.Description }} {{
    end }} {{ $url := .Site.BaseURL }} {{ if .IsSingular }} {{ $url = print
    .Site.BaseURL "/" .Post.Type "/" .Post.Slug ".html" }} {{ end }} {{ $image
    := "/img/og-image.webp" }} {{ if and (.IsSingular) (ne .Post.FeaturedImage
    "")}} {{ $image = .Post.FeaturedImage }} {{ end }}

    <title>{{ $title }}</title>

    <meta name="description" content="{{ $desc }}" />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="{{ $title }}" />
    <meta itemprop="description" content="{{ $desc }}" />
    <meta itemprop="image" content="{{ $image }}" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ $url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ $title }}" />
    <meta property="og:description" content="{{ $desc }}" />
    <meta property="og:image" content="{{ $image }}" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ $title }}" />
    <meta name="twitter:description" content="{{ $desc }}" />
    <meta name="twitter:image" content="{{ $image }}" />
    {{template "extra_head" .}}
  </head>

  <body>
    <div class="_giraffe">
      {{template "content" .}}

      <footer class="site-footer">
        <nav class="container">
          <a href="/rss.xml">📮 rss</a>
          <a href="/pages/about-me.html">💡 about</a>
          <a href="https://github.com/tatthien/giraffe" target="_blank"
            >🦒 giraffe</a
          >
        </nav>
      </footer>
    </div>

    {{template "extra_footer" .}}
    <script
      defer
      src="https://unpkg.com/quicklink@2.2.0/dist/quicklink.umd.js"
    ></script>

    <script id="giraffe-global">
      var __GIRAFFE__ = {
        config: {{ .Site }}
      }
    </script>

    <script>
      window.addEventListener("DOMContentLoaded", () => {
        quicklink.listen();
      });

      window.addEventListener("load", () => sendAnalytics("page_view"));

      function sendAnalytics(eventName, eventData = {}) {
        const data = {
          eventName,
          eventData,
          timestamp: Date.now().toString(),
          url: window.location.href,
        };

        fetch("https://prod.api.12-px.com/events", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            url: window.location.href,
            name: eventName,
            data: eventData,
          }),
        });
      }
    </script>
  </body>
</html>
