<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32.png">

    {{ if .IsSingular }}
    <title>{{.Post.Title}} | {{.Site.Title}}</title>
    {{ else }}
    <title>{{.Site.Title}}</title>
    {{ end }}

    <meta name="description" content="{{.Site.Description}}">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="{{ .Site.Title }}">
    <meta itemprop="description" content="{{ .Site.Description }}">
    <meta itemprop="image" content="/img/og-image.webp">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:description" content="{{ .Site.Description }}">
    <meta property="og:image" content="/img/og-image.webp">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ .Site.Title }}">
    <meta name="twitter:description" content="{{ .Site.Description }}">
    <meta name="twitter:image" content="/img/og-image.webp">

    {{template "extra_head" .}}
</head>

<body>
    {{if ne .IsHome true}}
    <div class="container-fluid">
        <a href="/" class="logo">
          <img src="/img/gopher-512.png" atl="gopher" style="width: 50px; height: auto;" /> 
        </a>
    </div>
    {{end}}

    {{template "content" .}}

    <footer class="site-footer">
        <p>Code is poetry</p>
        <nav>
            <a href="/tags/index.html">tags</a>
            <a href="/rss.xml">rss</a>
            <a href="https://12bit.vn" target="_blank">12bit.vn</a>
        </nav>
    </footer>

    <script src="https://unpkg.com/quicklink@2.2.0/dist/quicklink.umd.js"></script>
    <script>
        quicklink.listen()
    </script>

    {{template "extra_footer" .}}
</body>

</html>
