@import "reset.css";

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 100 900;
  src: url("/fonts/Manrope[wght].woff2") format("woff2");
  font-display: swap;
}

:root {
  --container-w: 700px;
  --font-size-sm: .875rem;
  --font-mono: "Overpass Mono", monospace;
  --font-primary: "Manrope", sans-serif;
  --font-serif: "Literata", serif;
}

:root[data-theme="dark"] {
  --c-primary: #fafafa;
  --bg: #151515;
  --c-body: #fafafa;
  --c-gray: #8c8c8c;
  --highlight-color: #fff;
  --highlight-bg: #1c1b1b;
  --highlight-comment: #999;
  --highlight-keyword: #88aece;
  --highlight-attribute: #88aece;
  --highlight-symbol: #c59bc1;
  --highlight-namespace: #f08d49;
  --highlight-variable: #b5bd68;
  --highlight-literal: #f08d49;
  --highlight-punctuation: #ccc;
  --highlight-deletion: #de7176;
  --highlight-addition: #76c490;
  --theme-switch-bg: #2c2c2c;
  --theme-switch-border-color: #454545;
  --table-border: #e2e8f0;
  --code-block-border: #454545;
  --bg-footer: #1f1f1f;
  --bg-header: rgba(21,21,21, .8);
  --kbar-button-bg: rgba(255,255,255,.05);
  --kbar-button-keys-border: rgba(255,255,255,.2);
}

:root[data-theme="light"] {
  --c-primary: #151515;
  --bg: #fff;
  --c-body: #151515;
  --c-gray: #8c8c8c;
  --highlight-color: #2f3337;
  --highlight-bg: #f6f6f6;
  --highlight-comment: #656e77;
  --highlight-keyword: #015692;
  --highlight-attribute: #015692;
  --highlight-symbol: #803378;
  --highlight-namespace: #b75501;
  --highlight-variable: #54790d;
  --highlight-literal: #b75501;
  --highlight-punctuation: #535a60;
  --highlight-deletion: #c02d2e;
  --highlight-addition: #2f6f44;
  --theme-switch-bg: #e6e6e6;
  --theme-switch-border-color: #b9b9b9;
  --table-border: #e2e8f0;
  --code-block-border: #efefef;
  --bg-footer: #f4f4f4;
  --bg-header: rgba(255,255,255, .6);
  --kbar-button-bg: rgba(0,0,0,.05);
  --kbar-button-keys-border: rgba(0,0,0,.2);
}

:root[data-theme="light"] ninja-keys {
  --ninja-accent-color: #151515;
  --ninja-text-color: #151515;
}

:root[data-theme="dark"] ninja-keys {
  --ninja-accent-color: #151515;
  --ninja-text-color: #151515;
}

body {
  min-height: 100vh;
  font-family: var(--font-primary);
  font-size: 18px;
  line-height: 32px;
  color: var(--c-body);
  background: var(--bg);
}

*:focus {
  outline: dotted var(--c-primary);
}

/** Utilities **/
.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0 auto;
}

@media all and (min-width: 768px) {
  .container {
    width: var(--container-w);
  }
}

.container-fluid {
  max-width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.font-mono {
  font-family: var(--font-mono);
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.text-muted {
  color: var(--c-gray);
}

.text-center {
  text-align: center;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: .25rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-3 {
  margin-bottom: .75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mr-2 {
  margin-right: .5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-8 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.c-gray {
  color: var(--c-gray);
}

.flex {
  display: flex;
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.font-serif {
  font-family: var(--font-serif);
}

.text-italic {
  font-style: italic;
}

.animated {
  transition: all .16s cubic-bezier(.32, 0, .16, 1);
}

.button {
  display: inline-flex;
  align-items: center;
  padding: .75rem 1.5rem;
  font-weight: 500;
  color: var(--bg);
  cursor: pointer;
  background-color: var(--c-primary);
  border-radius: 48px;
}

.button:hover {
  text-decoration: none;
  transform: scale(1.05);
}

.button .icon {
  margin-right: .75rem;
}

.button::after {
  display: none;
}

.stat-button {
  display: inline-flex;
  align-items: center;
  padding: .75rem 1.5rem;
  font-weight: 600;
  color: var(--c-body);
  border-radius: 48px;
  border: 3px solid var(--c-gray);
}

.stat-button .icon {
  width: 20px;
  height: 20px;
  margin-right: .5rem;
}

.stat-button.download .icon {
  color: #1BC47D;
}

.stat-button.star .icon {
  color: #fbbf24;
  width: 24px;
  height: 24px;
}

.section {
  padding: 4rem 1rem;
}

/** End Utilities **/

._giraffe { /* stylelint-disable-line */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background: var(--bg-header);
  z-index: 1;
}

.site-header a {
  font-size: 1rem;
  color: var(--c-body);
  text-decoration: none;
  font-weight: 600;
}

.site-header a:hover {
  text-decoration: none;
}

.site-header-nav {
  margin-right: 1rem;
}

.site-header-nav a {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--c-gray);
}

.site-header-nav > * {
  margin-right: 1rem;
}

.site-header-nav a:hover {
  text-decoration: underline;
  color: var(--c-body);
}

.kbar-button {
  border-radius: 4px;
  border: 1px solid transparent;
  background: var(--kbar-button-bg);
  font-size: 0.875rem;
  color: var(--c-gray);
  padding: 0.25rem 0.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.kbar-button-keys {
  border: 1px solid var(--kbar-button-keys-border);
  border-radius: 4px;
  padding: 0 0.25rem;
}

.kbar-button:hover {
  border-color: var(--c-primary);
}

.kbar-button:hover .kbar-button-placeholder {
  color: var(--c-body);
}

main {
  flex: 1 1 0;
}

pre,
code {
  font-family: var(--font-mono);
}

a {
  color: var(--c-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

[target="_blank"]::after {
  position: relative;
  top: -4px;
  margin-left: 2px;
  font-size: .75rem;
  color: var(--c-gray);
  content: "◹";
}

p {
  margin-bottom: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.25rem;
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}

ol,
ul {
  padding: 0;
  margin: 0 0 1.25rem 1.25rem;
}

ul li {
  position: relative;
  padding-left: .75rem;
  list-style: none;
}

ul li::before {
  position: absolute;
  left: 0;
  content: "-";
}

ol {
  padding-left: 1rem;
}

code {
  font-variant-ligatures: none;
}

pre {
  padding: .5rem;
  margin-bottom: 1rem;
  overflow-x: auto;
  background: var(--highlight-bg);
  border-radius: .5rem;
  font-size: 1rem;
  line-height: 1.3;
  border: 1px solid var(--code-block-border);
}

p > code,
li > code {
  font-weight: 500;
  color: var(--highlight-color);
  background-color: var(--highlight-bg);
  border: 1px solid var(--code-block-border);
  border-radius: 4px;
  padding: 2px 2px 0 2px;
}

blockquote {
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--c-gray);
}

@media all and (min-width: 768px) {
  blockquote {
    padding: 2.5rem 3rem;
    font-size: 1.75rem;
    line-height: 3rem;
  }
}

blockquote p {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  text-align: left;
  border-collapse: collapse;
  border: 1px solid var(--table-border);
  border-radius: 0.5rem;
  font-size: 1rem;
}

table td,
table th {
  padding: 0.25rem 0.5rem;
  border-right: 1px solid var(--table-border);
  border-bottom: 1px solid var(--table-border);
}

.post-content h2 {
  margin-top: 3rem;
  counter-increment: h2counter;
}

.post-content h2:before {
  content: counter(h2counter) ". ";
  color: var(--c-gray);
}

.post-content h3:before {
  content: '# ';
  color: var(--c-gray);
}

.post-title {
  font-weight: 800;
}

.post-content a {
  text-decoration: underline;
}

.logo {
  display: inline-block;
  font-size: 0;
}

.site-footer {
  padding: .5rem 0;
  margin-top: 2rem;
  font-size: var(--font-size-sm);
  color: var(--c-gray);
}

.site-footer a {
  padding: 0 .25rem;
  color: var(--c-gray);
}

.site-footer p {
  margin: .5rem;
}

.post-list {
  margin: 2.5rem 0;
}

.post-item {
  padding: 0;
  margin-bottom: .75rem;
  list-style: none;
  line-height: 1.5;
}

.post-item::before {
  display: none;
}

.post-item a {
  color: var(--c-primary);
  font-weight:500;
}

.post-item div {
  font-size: var(--font-size-sm);
}

.post-date {
  display: block;
  margin-right: 1rem;
  font-variant-numeric: tabular-nums slashed-zero;
  color: var(--c-gray);
}

.post-meta {
  margin: 3rem 0;
  font-size: var(--font-size-sm);
  color: var(--c-gray);
}

.post-tags {
  display: inline-flex;
  gap: .25rem;
}

.post-tags span::after {
  content: "•";
}

.post-tags span:last-child::after {
  content: "";
}

/** Theme Switcher **/
.theme-switch-button {
  position: relative;
  display: block;
  width: 40px;
  height: 22px;
  cursor: pointer;
  background: var(--theme-switch-bg);
  border: 1px solid var(--theme-switch-border-color);
  border-radius: 11px;
}

.theme-switch-button input {
  display: none;
}

.theme-switch-button input:checked + .theme-switch-check {
  transform: translateX(18px);
}

.theme-switch-check {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 1px solid var(--theme-switch-border-color);
  border-radius: 50%;
  transition: background-color .25s, transform .25s;
}

.theme-switch-icon svg {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  opacity: 1;
}

[data-theme="light"] .theme-switch-appearance-moon {
  opacity: 0;
}

[data-theme="dark"] .theme-switch-appearance-sun {
  opacity: 0;
}

@media all and (min-width: 768px) {
  .cp_embed_wrapper { /* stylelint-disable-line */
    margin-right: -5vw;
    margin-left: -5vw;
  }

  #hero {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 3rem;
  }
  #hero svg {
    flex-shrink: 0;
    position: relative;
    top: -10px;
  }
  #hero p {
    margin: 0;
  }

  .post-date {
    display: inline;
  }
}

/** Landing Page **/
.preview {
  max-width: 100%;
  margin: 2rem auto;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 24%), 0px 24px 40px rgb(0 0 0 / 24%);
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}

@media all and (min-width: 768px) {
  .preview {
    border-radius: 40px;
    max-width: 720px;
  }
}

.preview .browser-bar {
  background-color: var(--c-body);
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.preview .browser-bar span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin-right: 0.5rem;
}

.preview .browser-bar span:nth-child(1) {
  background-color: #ff5f57;
}

.preview .browser-bar span:nth-child(2) {
  background-color: #febc2e;
}

.preview .browser-bar span:nth-child(3) {
  background-color: #28c840;
}

.preview img {
  width: 100%;
  height: auto;
  border-radius: 0;
}

#reviews {
  background: var(--bg-footer);
  margin-bottom: -2rem;
}

.reviews {
  list-style: none;
  display: grid;
  row-gap: 1.5rem;
  max-width: 960px;
  margin: 0 auto 4rem auto;
  padding: 0 1rem;
}

@media all and (min-width: 768px) {
  .reviews {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.5rem;
  }
}

.review a::after,
.review::before {
  display: none;
}

.review {
  vertical-align: middle;
  background: #fff;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 4%);
  border-radius: 40px;
  text-align: left;
  padding: 2rem;
}

.review:hover {
  transform: scale(1.05);
}

.review a {
  color: #151515;
  text-decoration: none;
}

.review p {
  font-size: 1.25rem;
}

.review .date {
  margin-left: .5rem;
  font-size: 1rem;
  color: var(--c-gray);
}

.review .rating {
  color: #fbbf24;
}

.pro {
  color: #fff;
  background-color: #fbbf24;
  border-radius: 48px;
  font-weight: 600;
  padding: 0 0.75rem;
  font-weight: normal;
}

.gumroad-button::after {
  display: none;
}

.loading-screen {
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.loading-screen .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spin 1s linear infinite;
}

.loading-screen .text {
  font-size: 1.25rem;
  color: #fff;
  margin: 0.5rem 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/** Highlight js **/
.hljs-focus {
  display: block;
  counter-increment: line-code;
}

.hljs-focus:before {
  display: inline-block;
  content: counter(line-code);
  width: 20px;
  text-align: right;
  margin-right: 20px;
  opacity: .3;
  font-size: 0.85rem;
}

.single .post-title {
  margin-bottom: 3.5rem;
}

#hero p {
  font-size: calc(16px + 1.8vw);
  line-height: calc(18px + 2.2vw);
}
