@import "reset.css";

:root {
  --container-w: 700px;
  --font-size-sm: 0.875rem;
  --font-mono: "Cousine", monospace;
  --font-primary: "InterVariable", system-ui;
  --font-serif: "Literata", serif;
  --c-primary: #006fd6;
  --bg: #fff;
  --c-body: #151515;
  --c-gray: #91949b;
  --c-divider: #e4e4e4;
  --highlight-color: #2f3337;
  --highlight-bg: #f6f6f6;
  --highlight-comment: #656e77;
  --highlight-keyword: #015692;
  --highlight-attribute: #015692;
  --highlight-symbol: #803378;
  --highlight-namespace: #b75501;
  --highlight-variable: #54790d;
  --highlight-literal: #b75501;
  --highlight-punctuation: #535a60;
  --highlight-deletion: #c02d2e;
  --highlight-addition: #2f6f44;
  --theme-switch-bg: #e6e6e6;
  --theme-switch-border-color: #b9b9b9;
  --table-border: #e2e8f0;
  --code-block-border: #efefef;
  --bg-footer: #f4f4f4;
  --bg-header: rgba(255, 255, 255, 0.6);
  --kbar-button-bg: rgba(0, 0, 0, 0.05);
  --kbar-button-keys-border: rgba(0, 0, 0, 0.2);

  font-feature-settings:
    "liga" 1,
    "calt" 1;
}

body {
  min-height: 100vh;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.6;
  color: var(--c-body);
  background: var(--bg);
}

*:focus-visible {
  outline: dotted var(--c-primary);
}

/** Utilities **/
.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0 auto;
}

@media all and (min-width: 768px) {
  .container {
    width: var(--container-w);
  }
}

.font-semibold {
  font-weight: 600;
}

.font-extrabold {
  font-weight: 800;
}

.text-center {
  text-align: center;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.c-gray {
  color: var(--c-gray);
}

.flex {
  display: flex;
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.relative {
  position: relative;
}

.animated {
  transition: all 0.16s cubic-bezier(0.32, 0, 0.16, 1);
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  color: var(--bg);
  cursor: pointer;
  background-color: var(--c-primary);
  border-radius: 48px;
}

.button:hover {
  text-decoration: none;
  transform: scale(1.05);
}

.button .icon {
  margin-right: 0.75rem;
}

.button::after {
  display: none;
}

.stat-button {
  display: inline-flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  color: var(--c-body);
  border-radius: 48px;
  border: 3px solid var(--c-gray);
}

.stat-button .icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.stat-button.download .icon {
  color: #1bc47d;
}

.stat-button.star .icon {
  color: #fbbf24;
  width: 24px;
  height: 24px;
}

.section {
  padding: 4rem 1rem;
}

/** End Utilities **/

._giraffe {
  /* stylelint-disable-line */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background: var(--bg-header);
  z-index: 1;
}

.site-header a {
  font-size: 1rem;
  color: var(--c-body);
  text-decoration: none;
  font-weight: 600;
}

.site-header a:hover {
  text-decoration: none;
}

.site-header-nav a {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--c-gray);
}

.site-header-nav > * {
  margin-left: 1rem;
}

.site-header-nav a:hover {
  text-decoration: underline;
  color: var(--c-body);
}

main {
  flex: 1 1 0;
}

pre,
code {
  font-family: var(--font-mono);
}

a {
  color: var(--c-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 600;
}

.divider {
  border-bottom: 1px solid var(--c-divider);
  margin: 2.5rem 0;
}

[target="_blank"]::after {
  position: relative;
  top: -4px;
  margin-left: 2px;
  font-size: 0.75rem;
  color: var(--c-gray);
  content: "◹";
}

p {
  margin-bottom: 1.25rem;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1.25rem;
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}

ol,
ul {
  padding: 0 0 0 0.75rem;
  margin: 0 0 0.75rem 0;
}

ul li {
  position: relative;
  padding-left: 0.875rem;
  list-style: none;
}

ul li::before {
  position: absolute;
  left: 0;
  content: "-";
}

ol {
  padding-left: 1rem;
}

code {
  font-variant-ligatures: none;
}

pre {
  padding: 0.5rem;
  margin-bottom: 1rem;
  overflow-x: auto;
  background: var(--highlight-bg);
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.3;
  border: 1px solid var(--code-block-border);
}

p > code,
li > code {
  color: var(--highlight-namespace);
}

blockquote {
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  color: var(--c-gray);
  position: relative;
}

blockquote:before {
  content: "";
  position: absolute;
  width: 1.25px;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    #ffbe0b,
    #fb5607,
    #ff006e,
    #8338ec,
    #3a86ff
  );
}

@media all and (min-width: 768px) {
  blockquote {
    padding: 1rem 2rem;
  }
}

blockquote p {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  text-align: left;
  border-collapse: collapse;
  border: 1px solid var(--table-border);
  border-radius: 0.5rem;
  font-size: 1rem;
}

table td,
table th {
  padding: 0.25rem 0.5rem;
  border-right: 1px solid var(--table-border);
  border-bottom: 1px solid var(--table-border);
}

.post-content h2 {
  margin-top: 3rem;
  counter-increment: h2counter;
}

.post-content h2:before {
  content: counter(h2counter) ". ";
  color: var(--c-gray);
}

.post-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
}

.site-footer {
  padding: 0.5rem 0;
  margin-top: 2rem;
  font-size: var(--font-size-sm);
  color: var(--c-gray);
}

.site-footer a {
  padding: 0 0.25rem;
  color: var(--c-gray);
}

.site-footer p {
  margin: 0.5rem;
}

.post-list {
  padding: 0;
  margin: 2.5rem 0;
}

.post-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 0.75rem;
  list-style: none;
  line-height: 1.5;
  gap: 0.5rem;
}

.post-item::before {
  display: none;
}

.post-item a {
  color: var(--c-body);
}

.post-item div {
  font-size: var(--font-size-sm);
}

.post-item .meta {
  flex-shrink: 0;
  font-family: var(--font-mono);
  font-variant-numeric: tabular-nums slashed-zero;
  color: var(--c-gray);
}

.post-date {
  display: block;
  margin-right: 1rem;
  font-variant-numeric: tabular-nums slashed-zero;
  color: var(--c-gray);
}

.post-meta {
  margin: 3rem 0;
  font-size: var(--font-size-sm);
  color: var(--c-gray);
}

.post-tags {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.post-tags a {
  display: inline-flex;
}

/** Theme Switcher **/
.theme-switch-button {
  position: relative;
  display: block;
  width: 40px;
  height: 22px;
  cursor: pointer;
  background: var(--theme-switch-bg);
  border: 1px solid var(--theme-switch-border-color);
  border-radius: 11px;
}

.theme-switch-button input {
  display: none;
}

.theme-switch-button input:checked + .theme-switch-check {
  transform: translateX(18px);
}

.theme-switch-check {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 1px solid var(--theme-switch-border-color);
  border-radius: 50%;
  transition:
    background-color 0.25s,
    transform 0.25s;
}

.theme-switch-icon svg {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  opacity: 1;
}

[data-theme="light"] .theme-switch-appearance-moon {
  opacity: 0;
}

[data-theme="dark"] .theme-switch-appearance-sun {
  opacity: 0;
}

@media all and (min-width: 768px) {
  .post-date {
    display: inline;
  }
}

/** Landing Page **/
.preview {
  max-width: 100%;
  margin: 2rem auto;
  border-radius: 16px;
  box-shadow:
    0px 4px 8px rgb(0 0 0 / 24%),
    0px 24px 40px rgb(0 0 0 / 24%);
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}

@media all and (min-width: 768px) {
  .preview {
    border-radius: 40px;
    max-width: 720px;
  }
}

.preview .browser-bar {
  background-color: var(--c-body);
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.preview .browser-bar span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin-right: 0.5rem;
}

.preview .browser-bar span:nth-child(1) {
  background-color: #ff5f57;
}

.preview .browser-bar span:nth-child(2) {
  background-color: #febc2e;
}

.preview .browser-bar span:nth-child(3) {
  background-color: #28c840;
}

.preview img {
  width: 100%;
  height: auto;
  border-radius: 0;
}

#reviews {
  background: var(--bg-footer);
  margin-bottom: -2rem;
}

.reviews {
  list-style: none;
  display: grid;
  row-gap: 1.5rem;
  max-width: 960px;
  margin: 0 auto 4rem auto;
  padding: 0 1rem;
}

@media all and (min-width: 768px) {
  .reviews {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.5rem;
  }
}

.review a::after,
.review::before {
  display: none;
}

.review {
  vertical-align: middle;
  background: #fff;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 4%);
  border-radius: 40px;
  text-align: left;
  padding: 2rem;
}

.review:hover {
  transform: scale(1.05);
}

.review a {
  color: #151515;
  text-decoration: none;
}

.review p {
  font-size: 1.25rem;
}

.review .date {
  margin-left: 0.5rem;
  font-size: 1rem;
  color: var(--c-gray);
}

.review .rating {
  color: #fbbf24;
}

.pro {
  color: #fff;
  background-color: #fbbf24;
  border-radius: 48px;
  font-weight: 600;
  padding: 0 0.75rem;
  font-weight: normal;
}

.gumroad-button::after {
  display: none;
}

.loading-screen {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.loading-screen .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spin 1s linear infinite;
}

.loading-screen .text {
  font-size: 1.25rem;
  color: #fff;
  margin: 0.5rem 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/** Highlight js **/
.hljs-line {
  display: block;
  counter-increment: line-code;
}

.hljs-line:before {
  display: inline-block;
  content: counter(line-code);
  width: 20px;
  text-align: right;
  margin-right: 20px;
  opacity: 0.3;
  font-size: 0.85rem;
}

.single .post-title {
  font-size: 2rem;
  line-height: 2.1rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.single .sidebar {
  --sidebar-w: 200px;
  width: var(--sidebar-w);
  position: fixed;
  left: calc((100vw - var(--container-w)) / 2 - var(--sidebar-w) - 16px);
  padding: 0 0.75rem;
  display: none;
}

@media all and (min-width: 1024px) {
  .single .sidebar {
    display: block;
  }
}

.toc a {
  display: block;
  font-size: var(--font-size-sm);
  color: var(--c-gray);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}

.toc a.active {
  color: var(--c-body);
}

.work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  background: #f9fafb;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #f3f4f6;
}

.work:hover {
  text-decoration: none;
  background: #f5f5f5;
}

.work .meta {
  text-transform: uppercase;
  font-family: var(--font-mono);
  color: var(--c-gray);
}

.navigation {
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--c-divider);
  position: sticky;
  top: 0;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 9999;
  font-size: 0.875rem;
}

.navigation a {
  color: var(--c-primary);
}
