{{define "extra_head"}}{{end}}
{{define "content"}}
<main>
  <section id="hero" class="container">
    <h1>Hey, I'm Thien</h1>
    <p>Welcome to my space on the internet!</p>
    <p>I'm a software developer, a Christian, a husband & a father.</p>
    <p>You can follow me on <a href="https://twitter.com/thisisthien" target="_blank">Twitter</a>, see my code on <a href="https://github.com/tatthien" target="_blank">Github</a>. I occasionally <a href="https://12bit.vn" target="_blank">blog</a> too.</p>
  </section>

  <section class="container">
    <div>
      <a href="/til"><strong>Today I learned</strong></a>:
      <span class="c-gray"><em>Writing about what I learned everyday</em></span>
    </div>
    <div>
      <a href="/posts"><strong>Posts</strong></a>:
      <span class="c-gray"><em>My random thoughts, notes and short stories</em></span>
    </div>
  </section>
</main>
{{end}}

{{define "extra_footer"}}{{end}}

{{template "base.html" .}}
