{{define "extra_head"}}{{end}} {{define "content"}}
<nav class="navigation">
  ~/
  <a href="/">Home</a>
  / Notes
</nav>
<main>
  <section id="posts" class="container">
    <h3>Notes</h3>
    <ul class="post-list">
      {{range .Posts}}
      <li class="post-item">
        <a href="{{.Permalink}}">{{.Title}}</a>
        <span class="meta">{{ .Date.Format "02-01-2006" }}</span>
      </li>
      {{end}}
    </ul>
  </section>
</main>
{{end}} {{define "extra_footer"}}{{end}} {{template "base.html" .}}
