{{define "extra_head"}}{{end}} {{define "content"}}
<main>
  <section class="container">
    <h1>Posts</h1>
  </section>
  <div class="divider"></div>
  <section id="posts" class="container">
    <ul class="post-list">
      {{range .Posts}}
      <li class="post-item">
        <span class="post-date">{{ .Date.Format "02-01-2006" }}</span>
        <a href="{{.Permarlink}}">{{.Title}}</a>
      </li>
      {{end}}
    </ul>
  </section>
</main>
{{end}} {{define "extra_footer"}}{{end}} {{template "base.html" .}}
