{{define "extra_head"}}
<link rel="stylesheet" href="/css/hl.css">
{{end}}
{{define "content"}}
<main class="container single">
    <div class="mb-4">
        <a href="/{{.Post.Type}}" class="c-gray">◄ All posts</a>
    </div>
    <div>
        <h1 class="post-title">{{.Post.Title}}</h1>
        <div class="post-content">{{safe_html .Post.Content}}</div>
    </div>
    <div class="post-meta">
        <div class="mb-2">{{.Post.Date.Format "Jan 2, 2006"}}</div>
        <nav class="post-tags">
            {{range .Post.Tags}}
            <span>
                <a href="/tags/{{slugify .}}.html">{{.}}</a>
            </span>
            {{end}}
        </nav>
    </div>
</main>
{{end}}
{{define "extra_footer"}}
<script src="/js/hl.js" defer onload="hljs.initHighlightingOnLoad()"></script>
{{end}}
{{template "base.html" .}}
