{{define "extra_head"}}
<link rel="stylesheet" href="/css/hl.css" />
{{end}} {{define "content"}}
<nav class="navigation">
  ~/
  <a href="/">Home</a>
  /
  <a href="/notes">Notes</a>
  <span> / {{.Post.Title}}</span>
</nav>
<main class="single">
  <section class="container">
    <h1 class="post-title">{{.Post.Title}}</h1>
  </section>
  {{ if ne .Post.FeaturedImage "" }}
  <section class="container">
    <p>
      <img src="{{.Post.FeaturedImage}}" alt="{{.Post.Title}}" />
    </p>
  </section>
  {{ end }}
  <section class="relative container">
    <aside class="sidebar">
      <nav class="toc"></nav>
    </aside>
    <div class="post-content">{{safe_html .Post.Content}}</div>
    <div class="post-meta">
      <nav class="post-tags">
        {{range .Post.Tags}}
        <span>
          <a href="/tags/{{slugify .}}.html">{{.}}</a>
        </span>
        {{end}}
      </nav>
    </div>
  </section>
</main>
{{end}} {{define "extra_footer"}}
<script src="/js/hl.js" defer></script>
<script defer>
  window.addEventListener("load", () => {
    // TOC
    const h2 = document.querySelectorAll("h2");
    const tocEl = document.querySelector(".toc");
    h2.forEach((el) => {
      const a = `<a href="#${el.getAttribute("id")}" data-id="${el.getAttribute(
        "id",
      )}" title="${el.textContent}">${el.textContent}</a>`;
      tocEl.innerHTML += a;
    });

    const observer = new IntersectionObserver(
      (entries) => {
        const tocLinks = document.querySelectorAll(".toc a");
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            tocLinks.forEach((a) => {
              a.classList.remove("active");
            });
            const tocLink = document.querySelector(
              `.toc a[href='#${entry.target.id}']`,
            );
            tocLink.classList.add("active");
          }
        });
      },
      {
        root: null,
        rootMargin: "-100px",
        threshold: 1,
      },
    );

    h2.forEach((el) => {
      observer.observe(el);
    });

    // Highlight.js
    hljs.addPlugin({
      "after:highlight": (result) => {
        const loc = result.value.split(/\n/);
        loc.pop(); // remove the last redundant line
        result.value = "";
        loc.forEach((l, i) => {
          result.value += `<span class="hljs-line">${l}</span>`;
        });
      },
    });
    hljs.highlightAll();
  });
</script>
{{end}} {{template "base.html" .}}
