{{define "extra_head"}}
<link rel="stylesheet" href="/css/hl.css">
{{end}}
{{define "content"}}
<main class="container">
    <div>
        <h1>{{.Post.Title}}</h1>
        <div>{{safe_html .Post.Content}}</div>
    </div>
    <div class="post-meta">
        <div class="mb-2">{{.Post.Date.Format "Jan 2, 2006"}}</div>
        <nav class="post-tags">
            {{range .Post.Tags}}
            <a href="/tags/{{slugify .}}.html">{{.}}</a>
            {{end}}
        </nav>
    </div>
</main>
{{end}}
{{define "extra_footer"}}
<script src="/js/hl.js" defer onload="hljs.initHighlightingOnLoad()"></script>
{{end}}
{{template "base.html" .}}
